@font-face {
	font-family: "PoppinsBold";
	src: local("PoppinsBold"), local("PoppinsBold"),
		url("Poppins-Bold.ttf") format("truetype");
	font-display: swap;
	font-weight: 700;
}
@font-face {
	font-family: "PoppinsSemiBold";
	src: local("PoppinsSemiBold"), local("PoppinsSemiBold"),
		url("Poppins-SemiBold.ttf") format("truetype");
	font-display: swap;
	font-weight: 600;
}

@font-face {
	font-family: "PoppinsMedium";
	src: local("PoppinsMedium"), local("PoppinsMedium"),
		url("Poppins-Medium.ttf") format("truetype");
	font-display: swap;
	font-weight: 500;
}

@font-face {
	font-family: "PoppinsRegular";
	src: local("PoppinsRegular"), local("PoppinsRegular"),
		url("Poppins-Regular.ttf") format("truetype");
	font-display: swap;
	font-weight: 400;
}
@font-face {
	font-family: "PoppinsLight";
	src: local("PoppinsLight"), local("PoppinsLight"),
		url("Poppins-Light.ttf") format("truetype");
	font-display: swap;
	font-weight: 300;
}
@font-face {
	font-family: "OpenSansBold";
	src: local("OpenSansBold"), local("OpenSansBold"),
		url("OpenSans-Bold.ttf") format("truetype");
	font-display: swap;
	font-weight: 700;
}
@font-face {
	font-family: "OpenSansSemiBold";
	src: local("OpenSansSemiBold"), local("OpenSansSemiBold"),
		url("OpenSans-SemiBold.ttf") format("truetype");
	font-display: swap;
	font-weight: 600;
}

@font-face {
	font-family: "OpenSansMedium";
	src: local("OpenSansMedium"), local("OpenSansMedium"),
		url("OpenSans-Medium.ttf") format("truetype");
	font-display: swap;
	font-weight: 500;
}

@font-face {
	font-family: "OpenSansRegular";
	src: local("OpenSansRegular"), local("OpenSansRegular"),
		url("OpenSans-Regular.ttf") format("truetype");
	font-display: swap;
	font-weight: 400;
}
@font-face {
	font-family: "OpenSansLight";
	src: local("OpenSansLight"), local("OpenSansLight"),
		url("OpenSans-Light.ttf") format("truetype");
	font-display: swap;
	font-weight: 300;
}
